body {
  background-color: #CCCCCC;
}

.App {
  margin: 0 auto;
  max-width: 80vh;
  height: 100vh;
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  max-height: 10vh;
  background-color: #F3F3F3;  
  border-bottom: 2px solid #DDDDDD;
}

.HeaderTitle{
  font-size: calc(10px + 2vmin);
  color: #5C5C5C;
}

.App-content {
  animation: 0.2s fadeIn;
  background-color: #DDDDDD;
  height: 80vh;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  max-height: 10vh;
  border-top: 1px solid #DDDDDD;
  background-color: #F3F3F3;
}

.FooterTitle {
  color: #3344FF;
  font-size: calc(3px + 2vmin);
}

.ActivityIndicatorHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  max-height: 60vh;
  background-color: #DDDDDD;
  overflow-y: hidden;
}

.PhoneListContainer {
  width: 80vh;
  max-width: 80vh;
}

.PhoneCell {
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid #EEEEEE;
  background-color: #FCFCFC;
  cursor: pointer;
}

.PhoneCellImage {
  height: 22vh;
  margin-left: 16vh;
}

.PhoneCellTitle {
  margin-left: 5vh;
  font-size: calc(7px + 2vmin);
  color: #5C5C5C;
}

.PhoneDetailComponent {
  animation: 0.2s fadeIn;
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: #FCFCFC;
  height: 100vh;
  max-height: 100vh;
  max-width: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PhoneDetailHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  max-height: 10vh;
  background-color: #F3F3F3;  
  border-bottom: 2px solid #DDDDDD;
  max-width: 80vh;
  width: 100%;
}

.PhoneDetailTitle {
  flex: 7;
  text-align: center;
  padding-right: 8vh;
  font-size: calc(10px + 2vmin);
  color: #5C5C5C;
}

.PhoneDetailCloseButton {
  flex: 1;
  text-align: right;
  font-size: calc(30px + 2vmin);
  color: #3344FF;
  cursor: pointer;
  margin-top: -1vh;


}

.PhoneDetailContent {
  background-color: #FCFCFC;
  height: 90vh;
  max-height: 90vh;
  max-width: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: hidden;
}

.PhoneDetailImage {
  margin-top: 5vh;
  height: 30vh;
}

.PhoneDetailSpecListHolder {
  margin-top: 5vh;
  border-top: 2px solid #DDDDDD;
  width: 100%;
  padding-left: 5vh;
  padding-right: 5vh;
  overflow-y: scroll;
}

.PhoneDetailSpecList {
  width: 80%;
  padding-left: 10vh;
}

.PhoneDetailSpecListItem {
  margin-top: 1vh;
}


/* Animations  */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}


